html {
  font-size: 10px;
}

/* basic styles */
* {
    box-sizing: border-box;
}

img {
    /* responsive images: https://www.w3schools.com/howto/howto_css_image_responsive.asp */
    width: 100%;
    height: auto;
}
strong {font-weight: bold;}
em {font-style: italic;}

body {
    /*
      vh: https://css-tricks.com/fun-viewport-units/
      this is your background for pages that don't have a bg image
      linear-gradient: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient
    */
    /* background: linear-gradient(#212228 0, #212228 100px, #fff 100%); */
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
body#homepage {
    background: #FFFFFF;
    /* background: linear-gradient(#212228 0, #212228 30%, #534e55 80%, #fff 100%); */
}

#wrapperhome {
    /* surrounds responsive content, keeps it centered on a large screen */
    background: linear-gradient(#212228 0, #212228 30%, #534e55 80%, #fff 100%);
    max-width: 144.0rem;
    margin: 0 auto;
    min-height: 100%;
    /* border: 2px solid red; */
}

#wrapper {
    /* surrounds responsive content, keeps it centered on a large screen */
    max-width: 144.0rem;
    margin: 0 auto;
    min-height: 100%;
    /* border: 2px solid red; */
}

/* === HEADER NAV & HERO === */

.home-hero{
  background-image: linear-gradient(to right, rgba(34,34,41,1) 0%, rgba(34,34,41,0) 100%), url('../assets/images/hero-bkgrnd-dsktp.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 100%;
  /* background-size: contain;
  min-height: 100vh;
  ^^^ this suggestion lengthens the contaner height - which I don't like*/
}

header {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
    align-items: center;
    padding: 3.0rem 4.3rem;
}

#logo {
  height:auto;
    width: 18.8rem
}
nav {
    text-align: right;
}


nav ul li a {
    color: #fff;
    font-size: 2.0rem;
    font-weight: medium;
    line-height: 2.7rem;
    text-decoration: none;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50)
}

a:hover {
  color: #000000;
}

.hero {
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    /*https://stackoverflow.com/questions/2504071/how-do-i-combine-a-background-image-and-css3-gradient-on-the-same-element */
}

.hero-content {
  padding: 0 4.3rem;
}

p.lets {
  color: #00F372;
    font-family: "Homemade Apple", cursive;
    font-size: 3.6rem;
    margin: 20% 0;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50)
    /* padding: 20% 0; */
}

p.hero-p {
  font-size: 2.0rem;
  padding: 0 5.0rem 6.0rem 0;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50)
}

.btn-grn {
    /* background: #00F372; */
    background: #55EE80;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #000000;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 11rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.btn-wht {
    background: #FFFFFF;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #000000;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 17rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    margin-bottom: 4rem;
}

.busy-btn {
  margin-bottom: 4rem;
}

.bloc-btn {
  margin-bottom: 4rem;
}


.hero-dwn-btn {
  /* align-self: center; */
  display: flex;
  height: 4.1rem;
  width: 4.1rem;
  margin: 30% auto;
  /* padding-bottom: 10%; */
}

/* ===  section === */

#section-next.projects-135 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 2.4rem;
  height: 100%;
  margin-top: 4rem;
  text-align: center;
  padding: 2.4rem 4.3rem 12rem 4.3rem;
}

.projects-135 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 2.4rem;
  height: 100%;
  margin-top: 4rem;
  text-align: center;
  padding: 2.4rem 4.3rem 12rem 4.3rem;
}
.projects-246 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 2.4rem;
  height: 100%;
  text-align: center;
  padding: 2.4rem 4.3rem 12rem 4.3rem;
}

p.project-role {
  color: #00F372;
  font-size: 1.4rem;
  /* margin-top: 5.0rem; */
}

p.project-title {
  font-size: 4.6rem;
  font-weight: bold;
}

p.project-tag {
  padding-bottom: 2.0rem;
}

p.project-info {
padding: 2.2rem 0rem 4.0rem 0rem;
}

.img-container-left {
  height:auto;
  max-height: 54.0rem;
  width:auto;
  max-width: 56.0rem;
  /* margin-top: 5.0rem; */
}
.img-container-right {
  /* margin-top: 5.0rem; */
}

/* === Footer Selections === */

/* .dark-footer {
  background: linear-gradient(#FFFFFF 0, #534e55 45%, #212228 90%);
  color: #FFFFFF;
  display: flex-wrap;
  justify-content: center;
  /* padding-top: 15.0rem;
  text-align: center;
} */

.pre-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer {
  align-self: center;
  color: #000000;
  padding: 0 4.3rem;
  text-align: center;
}

/* .footer-drk {
  align-self: center;
  color: #FFFFFF;
  padding: 0 4.3rem;
  text-align: center;
} */

.drk2wht-footer {
  background: linear-gradient(#212228 30%, #534e55 50%, #fff 100%);
}



p.footer-outro {
  font-size: 1.4rem;
  font-weight: 500;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:60%;
  padding: 2.0rem 0;
  width: 60%;
}

.footer-links {
  align-content: center;
  flex-flow: row-wrap;
  display: flex;
  width:100%;
}

.footer-links-mail {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}

.footer-links-insta {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}
.footer-links-git {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}
.footer-links-linked {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}

.footer-copy {
  font-size: 1.0rem;
  padding: 2.0rem 0;
}

/* === Clouder ===*/

body#clouder {
background-color: #FFFFFF;
color: #000000;
font-style: "Montserrat", sans-serif;
font-size: 1.4rem;
font-size: normal;
text-align: left;
}

.center {
 display: flex;
 flex: 1;
 justify-content: center;
}

.dark-nav {
  background-color: #212228;
}

.clouder-hero-bckgrnd {
background: linear-gradient(#212228 0, #534e55 30%, #fff 100%);

}

.clouder-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4.3rem 5.0rem;;
  text-align: center;
}

.clouder-logo-hero {
  height: 100%;
  justify-content: center;
  padding: 4rem 0;
}

.clouder-img1 {
  display: inline-block;
  justify-content: center;
  margin: auto;
  max-width:286px;
  max-height: 320px;
  padding-bottom: 3.5rem;
}

.clouder-img2 {
  display: none;
  justify-content: center;
  padding-bottom: 3.5rem;
  width: 114.4rem;
}

.btn-wht-cs {
    background: #FFFFFF;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #000000;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    height: 100%;
    min-width: 17rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.cs-icons {
  height: 4.9rem;
  margin:0.4rem auto;
  /* text-align: center; */
  width: 4.9rem;
}

.cs-summary {
  padding: 0rem 4.3rem;
}

.p-center {
  text-align: center;
}

p.cs-cldr {
  font-weight: lighter;
  /* margin: 1.0rem 4.3rem; */
}

 h1.cs-cldr {
   font-size: 3.0rem;
   font-weight: bold;
   line-height: 5.0rem;
   margin: 3.0rem 0rem 1.5rem 0rem;
   text-align: center;
 }

h2.cs-cldr {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 4.0rem;
  text-align: center;
  /* margin: auto; */
  padding: 2rem 3rem;
}

h3.cs-cldr {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 5.0rem;
  margin-top: 3.0rem;
  text-align: center;
}

.process-phase {
  padding-top: 3.0rem;
}

.pro-sol-box {
  background-color: #534E55;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  /* height: 20%; */
  margin: 3.0rem 1.3rem;
  padding: 3.0rem 4.3rem 20% 4.3rem;;
}

section.user-surveys {
  padding: 2.0rem 4.3rem;
}

.survey-results-box {
  background-image: url('../assets/pages/cs-clouder/laptop-fly.png');
  background-repeat: no-repeat;
  background-position:65% 50%;
  color: #FFFFFF;
  margin: 0 0;
  min-height: 100%;
  padding: 2.0rem 1.3rem;
}

section.comp-analysis {
  padding: 2.0rem 4.3rem;
}

.comp-ana {
  padding-left: 18.0rem;
}

.comp-ana-img {
  padding: 2.0rem 0 ;
}

section.user-personas {
  padding: 0rem 4.3rem;
}

.user-per-box {
  display: flex;
  justify-content: center;
  margin: 2.0rem 1.3rem;
}

.user-per-img {

}

.user-per-frust {
  margin: 1.0rem 4.3rem;
}

#user-per-frust ul li {
  margin-top: 1.0rem;
}

section.user-stories-flows {
  padding: 0rem 4.3rem;
}


.user-img1 {
  max-height: 57.6rem;
  max-width: 49.4rem;
}

.user-img2 {
  max-width: 50rem;
  padding: 2.0rem 6.0rem;
}

.user-strs-flws {
display: flex;
justify-content: center;
flex-flow: wrap;
padding: 2.0rem 1.3rem;
}

section.sketching-wireframes1 {
  padding: 2.0rem 4.3rem;
}

section.sketching-wireframes2 {
  padding: 2.0rem 4.3rem;
}

.wireframe-comp {
  /* overflow-y: hidden; */
/
}

.sktch-wire-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.0rem 0;
}

.wire-img1 {
  padding-bottom: 1rem;
  max-width: 40rem;
}

.wire-img2 {
  margin: auto;
 height:34.0rem;
 width:28.4rem;
 padding-bottom: 1rem;
}

section.lofi-mockups-prototyping {
  padding: 2.0rem 4.3rem;
}

.cldr-lofi-invis {
flex-flow: column;
padding: 2.0rem 1.3rem;
text-align: center;
}

.cldr-qs {
padding-bottom: 1.5rem;
}

section.visuals {
  padding: 3.0rem 0;
}

section.branding-identity {
  padding: 2.0rem 4.3rem;
}

img.clouder-final-it {
padding: 3.0rem 0;
}

section.typography {
  padding: 2.0rem 4.3rem;
}

section.color-scheme {
  padding: 2.0rem 4.3rem;
}

section.image-iconography {
  padding: 2.0rem 4.3rem;
}

.imgry-icons {
  display: column;
  justify-content:center;
  padding: 2.0rem 4.3rem;
}

section.style-guide {
  padding: 2.0rem 4.3rem;
}
.style-guide-img {
}

section.hifi-mockups {
  padding: 2.0rem 4.3rem;
}

.cldr-srnshts {
  /* display: flex;
  flex: 1;
  justify-content: center;
  margin: 2.0rem 4.3rem; */
  padding-top: 4.0rem;
}

section.visual-landing {
  padding: 2.0rem 4.3rem;
}

section.final-design {
  padding: 2.0rem 4.3rem;
}

section.conclusion {
  padding: 5.0rem 4.3rem 10rem 4.3rem;
}


/* === About page === */

body#about {
    /* background: linear-gradient(#212228 0, #212228 30%, #fff 100%); */
    background: #212228;
    color: #FFFFFF;
}

section.about-hero {
  background-image: linear-gradient(to right, rgba(34,34,41,1) 30%, rgba(34,34,41,0) 100%), url('../assets/pages/about/about-face.png');
  background-repeat: no-repeat;
  background-position: 250% 20%;
  height: 100vh;
  background-size: contain;
}

.about-content {
  padding: 0 4.2rem;
}

p.hi {
  color: #55EE80;
  /* color: #00F372; */
  font-family: "Homemade Apple", cursive;
  font-size: 3.4rem;
  padding: 5rem 0;
}

p.about-intro {
  font-size: 1.4rem;
}

.grn-wrning {
  height:6.1rem;
  width: 6.1rem;
}

.about-dwn-btn {
    align-self: center;
    display: flex;
    height: 4.1rem;
    width: 4.1rem;
    margin: 20% auto;
}

section.about-beginning {
  background: #212228;
  padding: 3rem 4.3rem;
}

section.about-sound {
  background: #212228;
  padding: 4.3rem 4.3rem;
}

section.about-reins {
  background: #212228;
  padding: 4.3rem 4.3rem;
}

section.about-fire {
  background: #212228;
padding: 4.3rem 4.3rem;
}

section.about-here-now {
  /* background: #212228; */
  padding: 4.3rem 4.3rem;
}

div.about-textbox {

}

p.about-subhead {
  /* color: #00F372; */
  color: #55EE80;
 font-family: "Homemade Apple", cursive;
 font-size: 2.4rem;
 height: 6.4rem;
 text-align: left;
}

p.about-story {
  font-size: 1.4rem;
}

div.about-imgbox {
  display: flex;
  flex-direction: column;

}
img.about-img1 {
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img2 {
  display: none;
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img3 {
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img4 {
  display: none;
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img5 {
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img6 {
  display: none;
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img7 {
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

img.about-img8 {
  height: 29.0rem;
  object-fit: cover;
  object-position: 50% 0%;
  width: 29.0rem;
}

.about-pre-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0;
}

 .pre-foot-about {
   min-width: 24rem;
   margin: 2rem auto;
 }

 /* === Contact page === */

 body#contact {
     background: linear-gradient(#212228 0, #212228 30%, #fff 100%);
     /* background: #212228; */
     color: #FFFFFF;
 }

 section.contact-form-section {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.contact-intro {
  color: #00F372;
    font-family: "Homemade Apple", cursive;
    font-size: 3.6rem;
    margin-top: 20%;
    margin-bottom: 5%;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
}


form {
  width: 80%;
}

.contact {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.your-email {
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.your-message {
  font-family: 'open sans', sans-serif;
  font-size: 1.6rem;
  height: 30rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

button {
  margin-bottom: 40%;
}
 /*******************************/
 /* SCREENS BIGGER THAN 76.8rem */
 /*******************************/
@media screen and (min-width: 768px) {

  nav ul li {
    align-content: flex-end;
       display: inline-block;
       margin: 0 1.3rem;
       font-weight: normal;
       font-size: 3.4rem;
        }

  /*--- index.html media-query ipad --- */
   .hero-content {
     padding: 0 7.2rem;
   }

   p.lets {
       font-size: 4.6rem;
       margin-top: 20%;
      }
  /*--- index.html media-query ipad --- */
  p.hero-p {
    font-size: 2.6rem;
    letter-spacing: .1rem;
  }
  /*--- index.html media-query ipad --- */
   .hero {
       font-size: 1.5rem;
   }
  /*--- index.html media-query ipad --- */
  header {
    padding: 4.0rem 7.2rem;
  }

  /* === Footer Selections - ipad === */
/*--- index.html media-query ipad --- */
  .pre-footer {
    /* display: flex; */
    /* justify-content: center; */
    margin: 9rem auto;
  }
 /*--- index.html media-query ipad --- */
  .footer {
    /* display: block; */
    color: #000000;
    margin: 3.0rem 7.2rem;
    /* max-width: 40rem; */
  }
/*--- index.html media-query ipad --- */
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    padding: 4.0rem 0;
    width: 37.5%;
  }
/*--- index.html media-query ipad --- */
  p.footer-outro {
    font-size: 1.8rem;
    font-weight: 500;
  }
/*--- index.html media-query ipad --- */
  .footer-links {
    display: flex;
    justify-content: center;
    max-width: 300rem;
    width:100%;
  }
/*--- index.html media-query ipad --- */
  .footer-links-mail {
    display: flex;
    height: 33%;
    width: 17%;
    justify-content: center;
    padding: 1.0rem 1.0rem;
  }
/*--- index.html media-query ipad --- */
  .footer-links-insta {
    display: flex;
    height: 15%;
    width:15%;
    justify-content: center;
    padding: 1.0rem 1.0rem;
  }
  /*--- index.html media-query ipad --- */
  .footer-links-git {
    display: flex;
    height: 15%;
    width:15%;
    justify-content: center;
    padding: 1.0rem 1.0rem;
  }
  /*--- index.html media-query ipad --- */
  .footer-links-linked {
    display: flex;
    height: 15%;
    width:15%;
    justify-content: center;
    padding: 1.0rem 1.0rem;
  }
/*--- index.html media-query ipad --- */
  .footer-copy {
    font-size: 1.43rem;
    padding: 2.0rem 0;
  }

  /*--- about.html media-query ipad --- */
   section.about-hero {
     /* background-image: linear-gradient(to right, rgba(34,34,41,1) 30%, rgba(34,34,41,0) 100%), url('../assets/pages/about/about-face.png');
     background-repeat: no-repeat; */
     /* background-position: 250% 20%; */
     /* height: 100%;
     min-height: 90vh; /* how can I not use 'vh' and still get the whole picture*/
     background-image: linear-gradient(to right, rgba(34,34,41,1) 30%, rgba(34,34,41,0) 100%), url('../assets/pages/about/about-face2.png');
     background-repeat: no-repeat;
     background-position: 50% 70%;
     min-height: 80vh; /* how can I not use 'vh' and still get the whole picture*/
     /* background-size: 80rem 122rem; */
     /* max-height: 92.76rem; */
   }

  /*--- about.html media-query ipad --- */
   .about-content {
     padding: 0 7.2rem;
   }

  /*--- about.html media-query ipad --- */
   p.hi {
     color: #55EE80;
     /* color: #00F372; */
     font-family: "Homemade Apple", cursive;
     font-size: 5.2rem;
     padding: 12rem 0 5rem 0;
   }

  /*--- about.html media-query ipad --- */
   p.about-intro {
     font-size: 1.8rem;
     max-width: 55rem;
   }

/*--- about.html media-query ipad --- */
   .grn-wrning {
     height:6.1rem;
     width: 6.1rem;
   }

  /*--- about.html media-query ipad --- */
   .about-dwn-btn {
       align-self: center;
       display: flex;
       height: 6rem;
       width: 6rem;
       margin: 10% auto;
   }

  /*--- about.html media-query ipad --- */
   section.about-beginning {
     display: flex;
     flex-direction: row-reverse;
     padding: 5rem 7.2rem;
     /* margin-top: 9.3rem; */
   }

  /*--- about.html media-query ipad --- */
   img.about-img1 {
     height: auto;
     object-fit: cover;
     object-position: 50% 0%;
     width: 32rem;
   }
  /*--- about.html media-query ipad --- */
   img.about-img2 {
     display: flex;
     height: auto;
     object-fit: cover;
     object-position: 0% 0%;
     width: 32rem;
   }

  /*--- about.html media-query ipad --- */
   section.about-sound {
     display: flex;
     flex-direction: row;
      /* margin-top: 9rem; */
     padding: 5rem 7.2rem;

   }

   /*--- about.html media-query ipad --- */
    img.about-img3 {
      height: 58rem;
      object-fit: cover;
      padding-right: 7.0rem;
      width: 34rem;

    }

  /*--- about.html media-query ipad --- */
   section.about-reins {
     display: flex;
     flex-direction: row-reverse;
     padding: 2rem 7.2rem;
     /* margin-top: 5.3rem; */
   }

   /*--- about.html media-query ipad --- */
    img.about-img4 {
      display: block;
      height: auto;
      object-fit: cover;
      object-position: 50% 0%;
      width: 29.0rem;
    }
   /*--- about.html media-query ipad --- */
    img.about-img5 {
      display: block;
      height: 29.0rem;
      object-fit: cover;
      object-position: 50% 0%;
      width: 29.0rem;
    }
/*--- about.html media-query ipad --- */
    img.about-img6 {
      display: block;
      height: auto;
      object-fit: cover;
      object-position: 50% 0%;
      width: 29.0rem;
    }

/*--- about.html media-query ipad --- */
   section.about-fire {
     display: flex;
     flex-direction: row;
     /* margin-top: 9rem; */
     padding: 2rem 7.2rem;
   }

  /*--- about.html media-query ipad --- */
    img.about-img7 {
      height: 95%;
      object-fit: cover;
      object-position: 20% 0%;
      width: 26.0rem;
    }


  /*--- about.html media-query ipad --- */
   section.about-here-now {
     display: flex;
     flex-direction: row-reverse;
     padding: 2rem 7.2rem;
     /* margin-top: 9.3rem; */
   }

  /*--- about.html media-query ipad --- */
    img.about-img8 {
      height: 28.0rem;
      object-fit: cover;
      margin-right: 3rem;
      object-position: 50% 0%;
      margin-bottom: 9rem;
      width: 20.8rem;
    }

/*--- about.html media-query ipad --- */
   div.about-textbox-right {
     margin-left: 2.6rem;
     max-width: 72.3rem;
   }

  /*--- about.html media-query ipad --- */
    div.about-imgbox-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: auto;
      padding-top: 9.3rem;
      width: 32.0rem;
    }

/*--- about.html media-query ipad --- */
    div.about-textbox-left {
      max-width: 77.0rem;
    }

/*--- about.html media-query ipad --- */
    div.about-imgbox-right {
      display: flex;
      flex-direction: column;
      margin-left: 3.4rem;
      padding-top: 9.3rem;
      width: 28.0rem;
    }
  /*--- about.html media-query ipad --- */
   p.about-subhead {
     /* color: #00F372; */
     color: #55EE80;
    font-family: "Homemade Apple", cursive;
    font-size: 2.8rem;
    height: 5.3rem;
    text-align: left;
   }

  /*--- about.html media-query ipad --- */
   p.about-story {
     font-size: 1.6rem;
     padding-top: 2.4rem;
   }

  /*--- about.html media-query ipad --- */
   .about-pre-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin: 5.0rem 0rem 10.0rem 0rem;
   }

/*--- about.html media-query ipad --- */
    .pre-foot-about {
      min-width:28rem;
      margin: 2rem auto;
    }

 }

/*******************************/
/* SCREENS BIGGER THAN 102rem */
/*******************************/
/* @media screen and (min-width: 76.8rem) { */
@media screen and (min-width: 1020px) {


  nav ul li {
    align-content: flex-end;
       display: inline-block;
       margin: 0 3.3rem;
       font-weight: normal;
       font-size: 3.4rem;
   }

   a:hover {
     color: #000000;
   }

/*--- index.html media-query desktop --- */
   .hero-content {
     padding: 0 15rem;
   }

   p.lets {
       font-size: 7.6rem;
       margin: 10% 0;
      }
/*--- index.html media-query desktop --- */
  p.hero-p {
    font-size: 3.6rem;
    letter-spacing: .1rem;
  }
  /*--- index.html media-query desktop --- */
   .hero {
       font-size: 1.5rem;
   }
/*--- index.html media-query desktop --- */
header {
    padding: 4.0rem 15.0rem;
  }

  /* nav {
    text-align: left;
  } */
/*--- index.html media-query desktop --- */
#logo {
  min-width: 22.5rem;
}
/*--- index.html media-query desktop --- */
  .btn-grn {
      font-size: 2.4rem;
      font-weight: 600;
      min-width: 28rem;
      padding: 1rem 2rem;
  }
/*--- index.html media-query desktop --- */
  .btn-wht {
      font-size: 2.4rem;
      font-weight: 600;
      max-height: 6rem;;
      max-width: 48rem;
      min-width: 28rem;
      padding: 1rem 2rem;
  }
/*--- index.html media-query desktop --- */
  .busy-btn {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 4rem;
    max-height: 6rem;;
    max-width: 24.7rem;
    padding: 1rem 2rem;
  }
/*--- index.html media-query desktop --- */
  .bloc-btn {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 11rem;
    max-height: 6rem;;
    max-width: 24.7rem;
    padding: 1rem 2rem;
  }
/*--- index.html media-query desktop --- */
  .hero-dwn-btn {
    /* display: flex; */
    height: 8rem;
    width:8rem;
    margin: 8% auto;
  }

/*--- index.html media-query desktop --- */
  #section-next.projects-135 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      color: #FFFFFF;
      font-size: 2.4rem;
      padding: 10rem 15rem 30rem 15rem;
    }
/*--- index.html media-query desktop --- */
  .projects-135 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2.4rem;
    padding: 10rem 15rem 30rem 15rem;
  }


/*--- index.html media-query desktop --- */
  .projects-246 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2.4rem;
    /* height: 100%; */
    padding: 10rem 15rem 30rem 15rem;
  }
/*--- index.html media-query desktop --- */
   .text-container-right {
    align-items: left;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: flex-end; */
    margin-left: 9.4rem;
    height: 54.5rem;
    width: 55.7rem;
    text-align: left;
  }
/*--- index.html media-query desktop --- */
    .img-container-left {
    display: flex;
    height: 54.5rem;
    width: 55.7rem;
    }
    /*--- index.html media-query desktop --- */
    .text-container-left {
      min-width: 55.7rem;
      align-items: left;
      /* display: flex; */
      flex-direction: column;
      height: 54.5rem;
      width: 55.7rem;
      text-align: left;
    }
/*--- index.html media-query desktop --- */
    .img-container-right {
      height: auto;
        margin-left: 5.7rem;
      max-height: 54.0rem;
      width:auto;
      max-width: 56.0rem;
      }
/*--- index.html media-query desktop --- */
    p.project-role {
      color: #00F372;
      font-size: 1.8rem;
      /* margin-top: 5.0rem; */
    }
    /*--- index.html media-query desktop --- */
    p.project-title {
      font-size: 7.2rem;
      font-weight: 700;
    }
/*--- index.html media-query desktop --- */
    p.project-tag {
    font-size: 3.2rem;
    }
/*--- index.html media-query desktop --- */
    p.project-info {
      font-size: 3.2rem;
      line-height: 162.2%;
      /* padding: 2.2rem 0rem 4.0rem 0rem; */
    }

    /* === Footer Selections - desktop === */
/*--- index.html media-query desktop --- */
    .pre-footer {
      /* display: flex; */
      /* justify-content: center; */
      margin: 9rem auto;
    }
    /*--- index.html media-query desktop --- */
    .footer {
      /* display: block; */
      color: #000000;
      margin: 3.0rem 15rem;
      /* max-width: 40rem; */
    }
/*--- index.html media-query desktop --- */
    .footer-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50%;
      padding: 4.0rem 0;
      width: 25%;
    }
/*--- index.html media-query desktop --- */
    p.footer-outro {
      font-size: 2.4rem;
      font-weight: 500;
    }
/*--- index.html media-query desktop --- */
    .footer-links {
      display: flex;
      justify-content: center;
      max-width: 300rem;
      width:100%;
    }
/*--- index.html media-query desktop --- */
    .footer-links-mail {
      display: flex;
      height: 20%;
      width: 12.2%;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }
/*--- index.html media-query desktop --- */
    .footer-links-insta {
      display: flex;
      height: 10%;
      width:10%;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }
    /*--- index.html media-query desktop --- */
    .footer-links-git {
      display: flex;
      height: 10%;
      width:10%;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }
    /*--- index.html media-query desktop --- */
    .footer-links-linked {
      display: flex;
      height: 10%;
      width:10%;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }
/*--- index.html media-query desktop --- */
    .footer-copy {
      font-size: 1.43rem;
      padding: 2.0rem 0;
    }

#clouder {
  background: linear-gradient(#212228 200px, #534e55 700px, #fff 1300px);
}

/*--- clouder.html media-query desktop --- */
 .clouder-hero-bckgrnd {
background: none;
    }
    /*--- clouder.html media-query desktop --- */
    .clouder-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      margin: 0 15rem;
    }
/*--- clouder.html media-query desktop --- */
    .clouder-logo-hero {
 margin:  15rem;
 height: 10.5rem;
      /* justify-content: center; */
      /* width: 55.7rem; */
    }
/*--- clouder.html media-query desktop --- */
    .clouder-img1 {
      display: none;
      justify-content: center;
      padding-bottom: 3.5rem;
    }
/*--- clouder.html media-query desktop --- */
    .clouder-img2 {
      display: flex;
      justify-content: center;
      padding-bottom: 10rem;
    }
/*--- clouder.html media-query desktop --- */
    .cs-summary {
      margin: 0 21.5rem;
      text-align: left;
    }
/*--- clouder.html media-query desktop --- */
    .process-phase {
      margin: 10.0rem 0rem;
    }
/*--- clouder.html media-query desktop --- */
    h1.cs-cldr {
      font-size: 4.8rem;
    }
/*--- clouder.html media-query desktop --- */
    h3.cs-cldr {
      font-size: 2.4rem;
    }
/*--- clouder.html media-query desktop --- */
    p.cs-cldr {
     font-size: 2.4rem;
     /* padding-top: 3rem; */
    }
/*--- clouder.html media-query desktop --- */
    div.p-center {
      font-size: 2.4rem;
      margin-bottom: 5.0rem;
    }
/*--- clouder.html media-query desktop --- */
  #cs-clouder-roles {
    display: flex;
    flex-direction: row;
    margin: 0 10rem;;
    justify-content: space-between;
    /* line-height: 167.2%; */
    padding: 5rem 15rem;;
  }
/*--- clouder.html media-query desktop --- */
  ul li {
    font-size: 2.4rem;
  }
/*--- clouder.html media-query desktop --- */
    .project-role {
      display: flex;
      flex-direction: column;
    }
/*--- clouder.html media-query desktop --- */
    section.cs-problem-solution {
      display: flex;
      justify-content: center;
    }
/*--- clouder.html media-query desktop --- */
    .pro-sol-box {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      min-height: 84rem;
      width: 55.8rem;
      padding: 5rem 5.5rem;
    }
/*--- clouder.html media-query desktop --- */
    h2.cs-cldr {
      font-size: 3.6rem;
    }
/*--- clouder.html media-query desktop --- */
    .cs-icons {
      height: 6.4rem;
      width: 6.4rem;
    }
/*--- clouder.html media-query desktop --- */
    section.user-surveys {
      margin: 0 21.5rem;
    }
/*--- clouder.html media-query desktop --- */
.survey-results {
  font-size: 2.8rem;
}
/*--- clouder.html media-query desktop --- */
.survey-results-box {
  min-height: 100%;
  padding: 9.6rem 21.5rem;
  margin: 5rem 0;
}
/*--- clouder.html media-query desktop --- */
section.comp-analysis {
  margin: 0 21.5rem;
  padding-top: 5rem;
}
/*--- clouder.html media-query desktop --- */
div.comp-ana {
  margin-left: 40%;
}
/*--- clouder.html media-query desktop --- */
section.sketching-wireframes1 {
  margin: 0 21.5rem;
}
/*--- clouder.html media-query desktop --- */
section.user-personas {
  margin: 5.0rem 21.5rem;
}
/*--- clouder.html media-query desktop --- */
.btn-wht-cs {
    font-size: 2.4rem;
}
/*--- clouder.html media-query desktop --- */
section.user-stories-flows {
  margin: 0 21.5rem;
}
/*--- clouder.html media-query desktop --- */
div.user-strs-flws {
  /* display: flex;
  flex-direction: column; */
  padding-top: 3rem;
  margin: 0 21.5rem;
  }


/*--- clouder.html media-query desktop --- */
.user-img1 {
  margin: auto;
  max-height: 57.6rem;
  max-width: 49.4rem;
}

/*--- clouder.html media-query desktop --- */
.user-img2 {
  max-height: 50%;
  max-width: 50%;

.wireframe-comp {
  height: 100%;
  }

}
/*--- clouder.html media-query desktop --- */
section.sketching-wireframes2 {
  display: flex;
  justify-content: center;
  padding-top: 9.0rem;
}

/*--- clouder.html media-query desktop --- */
div.wireframe-img {
  display: flex;
  flex-direction: column;
}
/*--- clouder.html media-query desktop --- */
div.sktch-wire-img {
  display: flex;
  flex-direction: row;
  /* margin: 0 21.5rem; */
  height: 44.8rem;
  width: 101.0rem;
  margin-bottom: 10rem;
}
/*--- clouder.html media-query desktop --- */
.wire-img1 {
  margin: auto;
  max-height: 31.7rem;
  max-width: 49.4rem;
}
/*--- clouder.html media-query desktop --- */
.wire-img2 {
  /* min-height: 42.8rem;
  min-width: 32.9rem; */
}

/*--- clouder.html media-query desktop --- */
 section.lofi-mockups-prototyping {
   padding: 2.0rem 21.5rem;
 }



/*--- clouder.html media-query desktop --- */
 img.cldr-qs {
 padding-bottom: 1.5rem;
 height: 20%;
 width: 50%;
 margin: 9rem 21.5rem;
 }

/*--- clouder.html media-query desktop --- */
 section.visuals {
   padding: 3.0rem 0;
 }

/*--- clouder.html media-query desktop --- */
 section.branding-identity {
   padding: 2.0rem 21.5rem;
 }

/*--- clouder.html media-query desktop --- */
 img.clouder-final-it {
 padding: 3.0rem 0;
 }

 section.typography {
padding: 2.0rem 21.5rem;
 }

 .typo-style-cs {
   margin: 0 21.5rem;
   height: 20%;
   width: 60%;
 }

/*--- clouder.html media-query desktop --- */
 section.color-scheme {
   padding: 2.0rem 21.5rem;
 }

 .color-cs {
   margin: 0 21.5rem;
   height: 20%;
   width: 60%;
 }

/*--- clouder.html media-query desktop --- */
 section.image-iconography {
   padding: 2.0rem 21.5rem;
 }

/*--- clouder.html media-query desktop --- */
 .imgry-icons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 2.0rem 21.5rem;
 }

 .iconis{
   height: 20%;
   width: 30%;
 }

/*--- clouder.html media-query desktop --- */
 section.style-guide {
  padding: 2.0rem 21.5rem;
 }

 /*--- clouder.html media-query desktop --- */
 .style-guide-img {
   margin: 0 21.5rem;
   height: 20%;
   width: 60%;
 }

/*--- clouder.html media-query desktop --- */
 section.hifi-mockups {
   padding: 2.0rem 21.5rem;
 }

/*--- clouder.html media-query desktop --- */
 .cldr-srnshts {
   /* display: flex;
   flex: 1;
   justify-content: center;
   margin: 2.0rem 4.3rem; */
   padding: 4.0rem 20rem;
 }

.landing-sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6rem 0;
}
.cldr-srnshts-land {
  /* width: 40%; */
}


 .cldr-srnshts-menu {
   padding: 4.0rem 30rem;
 }

/*--- clouder.html media-query desktop --- */
 section.visual-landing {
   padding: 2.0rem 21.5rem;
 }

/*--- clouder.html media-query desktop --- */
 section.final-design {
   padding: 2.0rem 21.5rem;
 }

/*--- clouder.html media-query desktop --- */
 section.conclusion {
   padding: 2.0rem 21.5rem;
 }

/*--- about.html media-query desktop --- */
 section.about-hero {
   /* background-image: linear-gradient(to right, rgba(34,34,41,1) 30%, rgba(34,34,41,0) 100%), url('../assets/pages/about/about-face.png');
   background-repeat: no-repeat; */
   /* background-position: 250% 20%; */
   /* height: 100%;
   min-height: 90vh; /* how can I not use 'vh' and still get the whole picture*/
   background-image: linear-gradient(to right, rgba(34,34,41,1) 30%, rgba(34,34,41,0) 100%), url('../assets/pages/about/about-face2.png');
   background-repeat: no-repeat;
   background-position: 100% 70%;
   min-height: 80vh; /* how can I not use 'vh' and still get the whole picture*/
   /* background-size: 80rem 122rem; */
   /* max-height: 92.76rem; */
 }

/*--- about.html media-query desktop --- */
 .about-content {
   padding: 0 15rem;
 }

/*--- about.html media-query desktop --- */
 p.hi {
   color: #55EE80;
   /* color: #00F372; */
   font-family: "Homemade Apple", cursive;
   font-size: 7.2rem;
   padding: 19rem 0 5rem 0;
 }

/*--- about.html media-query desktop --- */
 p.about-intro {
   font-size: 2.4rem;
   max-width: 73rem;
 }

/*--- about.html media-query desktop --- */
 .grn-wrning {
   height:8.1rem;
   width: 8.1rem;
 }

/*--- about.html media-query desktop --- */
 .about-dwn-btn {
     align-self: center;
     display: flex;
     height: 8rem;
     width: 8rem;
     margin: 10% auto;
 }

/*--- about.html media-query desktop --- */
 section.about-beginning {
   display: flex;
   flex-direction: row-reverse;
   padding: 5rem 15rem;
   /* margin-top: 9.3rem; */
 }

/*--- about.html media-query desktop --- */
 img.about-img1 {
   height: auto;
   object-fit: cover;
   object-position: 50% 0%;
   width: 32rem;
 }
/*--- about.html media-query desktop --- */
 img.about-img2 {
   display: flex;
   height: auto;
   object-fit: cover;
   object-position: 0% 0%;
   width: 32rem;
 }

/*--- about.html media-query desktop --- */
 section.about-sound {
   display: flex;
   flex-direction: row;
   padding: 5rem 15rem;

 }

 /*--- about.html media-query desktop --- */
  img.about-img3 {
    height: 70rem;
    object-fit: cover;
    width: 44.0rem;
  }

/*--- about.html media-query desktop --- */
 section.about-reins {
   display: flex;
   flex-direction: row-reverse;
   padding: 5rem 15rem;
   /* margin-top: 9.3rem; */
 }

 /*--- about.html media-query desktop --- */
  img.about-img4 {
    display: block;
    height: auto;
    object-fit: cover;
    object-position: 50% 0%;
    width: 29.0rem;
  }
 /*--- about.html media-query desktop --- */
  img.about-img5 {
    display: block;
    height: 29.0rem;
    object-fit: cover;
    object-position: 50% 0%;
    width: 29.0rem;
  }
 /*--- about.html media-query desktop --- */
  img.about-img6 {
    display: block;
    height: auto;
    object-fit: cover;
    object-position: 50% 0%;
    width: 29.0rem;
  }

/*--- about.html media-query desktop --- */
 section.about-fire {
   display: flex;
   flex-direction: row;
   padding: 5rem 15rem;
 }

 /*--- about.html media-query desktop --- */
  img.about-img7 {
    height: 95%;
    object-fit: cover;
    object-position: 20% 0%;
    width: 38.0rem;
  }


/*--- about.html media-query desktop --- */
 section.about-here-now {
   display: flex;
   flex-direction: row-reverse;
   padding: 5rem 15rem;
   /* margin-top: 9.3rem; */
 }

 /*--- about.html media-query desktop --- */
  img.about-img8 {
    height: 48.0rem;
    object-fit: cover;
    object-position: 50% 0%;
    width: 40.8rem;
  }

/*--- about.html media-query desktop --- */
 div.about-textbox-right {
   margin-left: 2.6rem;
   max-width: 72.3rem;
 }
 /*--- about.html media-query desktop --- */
  div.about-imgbox-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
    padding-top: 9.3rem;
    width: 32.0rem;
  }

 /*--- about.html media-query desktop --- */
  div.about-textbox-left {
    max-width: 67.0rem;
  }

  div.about-imgbox-right {
    display: flex;
    flex-direction: column;
    margin-left: 8.4rem;

    padding-top: 9.3rem;
    width: 32.0rem;
  }
/*--- about.html media-query desktop --- */
 p.about-subhead {
   /* color: #00F372; */
   color: #55EE80;
  font-family: "Homemade Apple", cursive;
  font-size: 4.8rem;
  height:9.3rem;
  text-align: left;
 }

/*--- about.html media-query desktop --- */
 p.about-story {
   font-size: 2.4rem;
   padding-top: 2.4rem;
 }

/*--- about.html media-query desktop --- */
 .about-pre-footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 10.0rem 0rem 20.0rem 0rem;
 }

  .pre-foot-about {
    min-width: 32rem;
    margin: 2rem auto;
  }

  /* === Contact page desktop=== */

  section.contact-form-section {
   font-size: 2.4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
  }

 .contact-intro {
   color: #00F372;
     font-family: "Homemade Apple", cursive;
     font-size: 7.6rem;
     margin-top: 10%;
     margin-bottom: 5%;
     text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
 }


 form {
   width: 60%;
 }

 .contact {
   align-self: center;
   display: flex;
   flex-direction: column;
 }

 .your-email {
   font-family: 'open sans', sans-serif;
   font-size: 2.4rem;
   padding: 1rem;
   margin-bottom: 2rem;
 }

 .your-message {
   font-family: 'open sans', sans-serif;
   font-size: 2.4rem;
   height: 30rem;
   padding: 1rem;
   margin-bottom: 3rem;
 }

 button {
   width:20%;
   margin-bottom: 40%;
 }
