/* ===> * <=== means universal symbol - applies to all*/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: yellow;
  display: 37.5rem;
}

.home-hero {
  background: url('../assets/images/hero-background-iphoneplus.svg') #212228;
  background-repeat: no-repeat;
  height:66.7rem;
}

header.top-nav {
  max-width: 37.5rem;
}

.nav-container {
  border: 2px solid mistyrose;
  display: flex;
  margin: 0 4.3rem;
  max-height: 8.0rem;
  max-width: 28.9rem;
}

/* .header-nav {
  display: flex;
} */

.box-top {
  height: 2.0rem;
  width: 28.9rem;
  border: 2px solid green;
}
.nav-logo {
  flex-grow: 1;
  height: 8.5rem;
  width: 16rem;
}

.nav-menu {
  flex-grow: 2;
  height: 3.1rem;
  width: 3.1rem;
}

.box-btm {
  height: 2.0rem;
  width: 28.9rem;
  border: 2px solid green;
}

h6 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
/* .speaker {
  height: 1.2rem;
  weight: 1.2rem;
} */

section.hero {
    padding-left: 4.3rem;
}

h1 {
  color: #55EE80;
  font-family: "Homemade Apple", cursive;
  font-size: 3.6rem;
}

h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.0rem;
}

span#blackh3 {
  font-weight: 900;
}

.button {
    background: #55EE80;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    color: #000000;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    height: 3.7rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    width: 11rem;
}


img.clouder-home {
  width: 25%;
}

img.busybus-home {
  width: 25%;
}

img.blocjams-landing {
  width: 25%;
}

img.github {
  width: 25%;
}

img.email {
  width: 25%;
}
img.Linkedin {
  width: 25%;
}
img.insta {
  width: 25%;
}
