html {
  font-size: 10px;
}

/* basic styles */
* {
    box-sizing: border-box;
}
img {
    /* responsive images: https://www.w3schools.com/howto/howto_css_image_responsive.asp */
    width: 100%;
    height: auto;
}
strong {font-weight: bold;}
em {font-style: italic;}

body {
    /*
      vh: https://css-tricks.com/fun-viewport-units/
      this is your background for pages that don't have a bg image
      linear-gradient: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient
    */
    /* background: linear-gradient(#212228 0, #212228 100px, #fff 100%); */
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
body#homepage {
    /* background: linear-gradient(#212228 0, #212228 30%, #fff 100%); */
    background: linear-gradient(#212228 0, #212228 30%, #534e55 80%, #fff 100%);
}

#wrapper {
    /* surrounds responsive content, keeps it centered on a large screen */
    max-width: 144.0rem;
    margin: 0 auto;
    min-height: 100%;
    border: 2px solid red;
}

/* === HEADER NAV & HERO === */

.home-hero{
  background-image: linear-gradient(to right, rgba(34,34,41,1) 0%, rgba(34,34,41,0) 100%), url('../assets/images/hero-bkgrnd-dsktp.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 100%; /* you might erase this line later = TULLIE note, i changed it from vh to a percentage */
}

header {
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
    align-items: center;
    padding: 3.0rem 4.3rem;
}

#logo {
  height:auto;
    width: 18.8rem
}
nav {
    text-align: right;
}


nav ul li a {
    color: #fff;
    font-size: 2.0rem;
    font-weight: medium;
    line-height: 2.7rem;
    text-decoration: none;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50)
}

a:hover {
  color: #000000;

}

.hero {
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    /*https://stackoverflow.com/questions/2504071/how-do-i-combine-a-background-image-and-css3-gradient-on-the-same-element */
}

.hero-content {
  padding: 0 4.3rem;
}

p.lets {
  color: #00F372;
    font-family: "Homemade Apple", cursive;
    font-size: 3.6rem;
    margin: 20% 0;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50)
    /* padding: 20% 0; */
}

p.hero-p {
  font-size: 2.0rem;
  padding: 0 5.0rem 6.0rem 0;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50)
}

.btn-grn {
    background: #00F372;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #000000;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    height: 100%;
    min-width: 11rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.btn-wht {
    background: #FFFFFF;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #000000;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    height: 100%;
    min-width: 17rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;

}

.hero-dwn-btn {
  display: flex;
  height: 4.1rem;
  width: 4.1rem;
  margin: 30% auto;
}

/* === Projects section === */

.projects-135 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 2.4rem;
  height: 100%;
  text-align: center;
  padding: 2.4rem 4.3rem;
}

.projects-246 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 2.4rem;
  height: 100%;
  text-align: center;
  padding: 2.4rem 4.3rem;
}

p.project-role {
  color: #00F372;
  font-size: 1.4rem;
  margin-top: 5.0rem;

}

p.project-title {
  font-size: 4.6rem;
  font-weight: bold;
}

p.project-tag {
  padding-bottom: 2.0rem;
}

p.project-info {
padding: 2.2rem 0rem 4.0rem 0rem;
}

.img-container-left {
  height:auto;
  max-height: 54.0rem;
  width:auto;
  max-width: 56.0rem;
  margin-top: 5.0rem;
}
.img-container-right {
  margin-top: 5.0rem;
}

/* === Footer Selections === */

.dark-footer {
  background: linear-gradient(#FFFFFF 0, #534e55 45%, #212228 90%);
  color: #FFF;
  display: flex-wrap;
  justify-content: center;
  max-width: 30.0rem;
  padding-top: 15.0rem;
  text-align: center;
}

.pre-footer {
  display: flex;
  justify-content: center;
  margin: 10rem 0;

}
.footer {
  color: #000000;
  margin: 3.0rem 4.3rem;
  text-align: center;
}

.footer2 {
  color: #FFF;
  margin: 3.0rem 4.3rem;
  justify-content: center;
  text-align: center;
}


p.footer-outro {
  font-size: 1.4rem;
  font-weight: 500;
}

.footer-logo {
  display: flex;
  height:6.0rem;
  margin: 4.0rem;
  justify-content: center;
  width: 19.0rem;
}

.footer-links {
  align-content: center;
  flex-flow: row-wrap;
  display: flex;
  width:100%;
}

.footer-links-mail {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}

.footer-links-insta {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}
.footer-links-git {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}
.footer-links-linked {
  display: flex;
  justify-content: center;
  padding: 1.0rem 1.0rem;
}

.footer-copy {
  font-size: 1.0rem;
  padding: 2.0rem 0;
}

/* === Clouder ===*/

body#clouder {
background-color: #FFFFFF;
color: #000000;
font-style: "Montserrat", sans-serif;
font-size: 1.4rem;
font-size: normal;
text-align: left;

}

.center {
 display: flex;
 flex: 1;
 justify-content: center;
}

.dark-nav {
  background-color: #212228;
}
.clouder-hero-bckgrnd {
  /* background: linear-gradient(#212228 0, #212228 20%, #fff 100%); */
background: linear-gradient(#212228 0, #534e55 30%, #fff 100%);
}

.clouder-hero {
  display flex;
  justify-content: center;
  margin: 0 4.3rem;
  text-align: center;
}

.clouder-logo-hero {
  display flex;
  height: 100%;
  justify-content: center;
  margin-bottom: 3rem;
  padding-top: 4.0rem;
}

.clouder-img {
  display flex;
  justify-content: center;
  padding-bottom: 3.5rem;
}

.clouder-summary {
  padding-top: 5.0rem;
}

.p-center {
  text-align: center;
}

p.cs-cldr {
  font-weight: lighter;
  margin: 1.0rem 4.3rem;
}

 h1.cs-cldr {
   font-size: 3.0rem;
   font-weight: bold;
   line-height: 5.0rem;
   margin: 3.0rem 0rem 1.5rem 0rem;
   text-align: center;
 }

h2.cs-cldr {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 4.0rem;
  text-align: center;

  margin: 3.0rem 4.0rem 2.0rem 4.0rem;
}

h3.cs-cldr {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 5.0rem;
  margin-top: 3.0rem;
}

.pro-sol-box {
  background-color: #534E55;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  /* height: 20%; */
  margin: 3.0rem 1.3rem;
  padding: 3.0rem 0 5.0rem 0;
}

.cs-icons {
  height: 4.9rem;
  line-height: 4.9rem;
  margin: auto;
  width: 4.9rem;
}

.discovery {
  margin: 5.0rem 0;
}

.survey-results-box {
  background-image: url('../assets/pages/cs-clouder/laptop-fly.png');
  background-repeat: no-repeat;
  background-position:65% 50%;
  color: #FFFFFF;
  margin: 5% 0;
  min-height: 100%;
  padding: 2.0rem 1.3rem;
}

.comp-ana {
  padding-left: 18.0rem;
}

.comp-ana-img {
  padding: 2.0rem 0 ;
}

.user-per-box {
  display: flex;
  justify-content: center;
  margin: 2.0rem 1.3rem;
}

.user-per-img {

}

.user-per-frust {
  margin: 1.0rem 4.3rem;
}

.user-strs-flws {
display: flex;
justify-content: center;
flex-flow: wrap;
padding: 0 1.3rem;
}

.user-img2 {
  padding: 2.0rem 6.0rem;
}

.wireframe-comp {
  object-fit: cover;
  height: 21.0rem;
}

.sktch-wire-img {
  padding: 2.0rem 4.3rem;
}

.cldr-lofi-invis {
flex-flow: column;
padding: 2.0rem 1.3rem;
text-align: center;
}

.cldr-qs {
padding-bottom: 1.5rem;
}

section.visuals {
  padding: 3.0rem 0;
}

.imgry-icons {
  display: column;
  justify-content:center;
  margin: 1.0rem 4.3rem;
}

.style-guide-img {
  margin: 1.0rem 4.3rem;
}

.cldr-srnshts {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 2.0rem 4.3rem;

}

.breaks {
  margin-bottom: 11.0rem;
}

.final {
  padding: 5.0rem 0;
}

/* === About page === */

body#about {
    /* background: linear-gradient(#212228 0, #212228 30%, #fff 100%); */
    background: #212228;
    color: #FFFFFF;
}

.about-hero {
  background-image: linear-gradient(to right, rgba(34,34,41,1) 30%, rgba(34,34,41,0) 100%), url('../assets/pages/about/about-face.png');
  background-repeat: no-repeat;
  background-position: 250% 20%;
  min-height: 100vh; /* how can I not use 'vh' and still get the whole picture*/
}

.about-content {
  padding: 0 4.3rem;
}

p.hi {
  color: #55EE80;
  font-family: "Homemade Apple", cursive;
  font-size: 3.4rem;
  padding: 10rem 0;
}

p.about-intro {
  font-size: 1.4rem;
}

/* screens larger than mobile */
@media screen and (min-width: 76.8rem) {

  nav ul li {
    align-content: flex-end;
       display: inline-block;
       margin: 0 3.3rem;
       font-weight: normal;
       font-size: 3.4rem;

   }
   .home-hero{
     /* background-image: linear-gradient(to right, rgba(34,34,41,1) 0%, rgba(34,34,41,0) 100%), url('../assets/images/hero-bkgrnd-dsktp.png'); */
     background-image: linear-gradient(90deg, #22222A 50%, rgba(34, 34, 42, 0) 50%) url('../assets/images/hero-bkgrnd-dsktp.png');
     background-repeat: no-repeat;
     background-position: 100% 0;
     image-resolution: pixelated;
  }

   .home-hero {
     background-position: top;
     min-height: 100%;
   }

   .hero-content {
     padding: 0 15rem;
   }

   p.lets {
       font-size: 7.6rem;
       margin: 10% 0;
      }

  p.hero-p {
    font-size: 3.6rem;
    letter-spacing: .1rem;
  }
   .hero {
       font-size: 1.5rem;
   }

header {
    padding: 4.0rem 15.0rem;
  }

  /* nav {
    text-align: left;
  } */

#logo {
  min-width: 22.5rem;
}

  .btn-grn {
      font-size: 2.4rem;
      font-weight: 600;
      min-width: 18.4rem;
      padding: 1rem 2rem;
  }

  .btn-wht {
      font-size: 2.4rem;
      font-weight: 600;
      max-height: 6rem;;
      max-width: 24.7rem;
      padding: 1rem 2rem;

      /* padding: 0.8rem 2rem; */

  }

  .hero-dwn-btn {
    display: flex;
    height: 6rem;
    width: 6rem;
    margin: 12% auto;
  }

  .projects-135 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2.4rem;

    padding: 10rem 15rem;
  }

  .projects-246 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2.4rem;
    /* height: 100%; */
    padding: 10rem 15rem;
  }

   .text-container-right {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2.4rem;
    height: 54.5rem;
    width: 55.7rem;
    text-align: left;
  }

    .img-container-left {
    display: flex;
    height: 54.5rem;
    width: 55.7rem;
    }


    .text-container-left {
      min-width: 55.7rem;
      align-items: left;
      display: flex;
      flex-direction: column;

      color: #FFFFFF;
      height: 54.5rem;
      width: 55.7rem;
      text-align: left;
    }

    .img-container-right {
      height: 54.5rem;
      width: 55.7rem;
      }

    p.project-role {
      color: #00F372;
      font-size: 1.8rem;
      /* margin-top: 5.0rem; */
    }

    p.project-title {
      font-size: 7.2rem;
      font-weight: 700;
    }

    p.project-tag {
    font-size: 3.2rem;
    }

    p.project-info {
      font-size: 3.2rem;
      line-height: 162.2%;
      /* padding: 2.2rem 0rem 4.0rem 0rem; */
    }

    /* === Footer Selections - desktop === */

    .pre-footer {
      /* display: flex; */
      /* justify-content: center; */
      margin: 9rem auto;

    }
    .footer {
      color: #000000;
      margin: 3.0rem 15rem;
      max-width: 40rem;;
    }


    p.footer-outro {
      font-size: 2.4rem;
      font-weight: 500;
    }

    .footer-links {
      align-content: center;
      /* flex-flow: row-wrap; */
      display: flex;
      width:100%;
    }

    .footer-links-mail {
      display: flex;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }

    .footer-links-insta {
      display: flex;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }
    .footer-links-git {
      display: flex;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }
    .footer-links-linked {
      display: flex;
      justify-content: center;
      padding: 1.0rem 1.0rem;
    }

    .footer-copy {
      font-size: 1.0rem;
      padding: 2.0rem 0;
    }



    /*endmediaquery for desktop*/
